.digital-clock {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 4rem;
    color: #6c5ce7;
    text-shadow: 1px 1px 2px rgba(108, 92, 231, 0.3);
    padding: 15px 30px;
    border-radius: 5px;
    width: fit-content;
    background-color: #f8f8ff;
    box-shadow: 0 6px 12px rgba(108, 92, 231, 0.2);
}

.digital-clock span {
    margin: 0 0.25rem;
}

.digital-clock span:nth-child(2),
.digital-clock span:nth-child(4) {
    color: #b8b8d1;
    text-shadow: none;
}