.expense-date {
    display: flex;
    flex-direction: column;
    width: 6rem;
    height: 6rem;
    border: 1px solid #c0c0c0;
    /* Light gray border */
    background-color: #9370db;
    /* Thistle (darker light purple) background */
    color: #4b0082;
    /* Indigo text color */
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s, box-shadow 0.2s;
}

.expense-date:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.expense-date__month {
    font-size: 0.85rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
    text-transform: uppercase;
    color: #f5e9ff;
    /* Indigo text color */
}

.expense-date__year {
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
    color: #f5e9ff;
    /* Indigo text color */
}

.expense-date__day {
    font-size: 1.75rem;
    font-weight: bold;
    color: #f5e9ff;
    /* Indigo text color */
}